################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility基础类大全/.vs/Common.Utility/v16/Server/sqlite3/db.lock
