################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Utility基础类大全/.vs/Common.Utility/v16/Server/sqlite3/db.lock
