<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1358.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net40" />
  <package id="NPOI" version="2.3.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>